name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run workflow manually and on each commit (optional)
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      # See action.yml for all options
      - uses: lowlighter/metrics@latest
        with:
            # Your GitHub token
            token: ${{ secrets.METRICS_TOKEN }}
            plugin_languages: yes
            plugin_lines: yes
            plugin_followup: yes
            plugin_stargazers: yes
            plugin_stackoverflow: yes
            plugin_stackoverflow_user: 2705847 
            plugin_achievements: yes
            plugin_stars: yes
            plugin_contributors: yes
